/* 
COLOR PALETTE

Primary-color: #0288d1
Primary-light-color: #09a7fd
Accent-color: #EB9532
Black-text-color: #333
White-text-color: #FFF
Background-color: #FDFDFD
Footer-color: #F0F0F0
Subfooter-color: #D6D6D6
Separator-color: #CCC
*/


/* ==========================================================================
   BASE
   ========================================================================== */


*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #F0F0F0;
	box-sizing: border-box;
	color: #333;
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	font-weight: lighter;
}

a {
	color: #333;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	text-decoration: none;
	transition: .2s ease-in-out;
	-webkit-transition: .2s ease-in-out;
}

div:not(.nav-wrapper) a:hover {
	color: #EB9532;
}

hr {
	background-color: #DDD;
	border: 0;
	height: 1.2px;
	margin: 4rem auto 4rem auto;
	width: 80%;
}

span {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.clearfix::after {
	clear: both;
	content: '';
	display: table;
}


/* Titles
   ========================================================================== */

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	text-align: center;
}

h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2rem;
	font-weight: normal;
	line-height: 4.8em;
	padding-top: .4em;
	text-align: center;
	text-transform: uppercase;
}

h2:before,
h2:after {
	background-color: #555;
	content: ' ';
	display: inline-block;
	height: 2px;
	margin: 0 .4em .34em .4em;
	width: .6em;
}

h3 {
	font-size: 2.7rem;
	line-height: 2.4em;
	margin: 0;
	text-align: left;
}

h4 {
	font-size: 2.6rem;
	font-weight: lighter;
	letter-spacing: .05em;
	text-transform: uppercase;
	margin: 1em 0;
}

h5 {
	font-size: 1.8rem;
	margin: .8em 0;
}


/* Base queries
   ========================================================================== */

@media only screen and (min-width: 560px) {
	h2 {
		font-size: 3.2rem;
	}

	h3 {
		font-size: 3.4rem;
	}
}

@media only screen and (min-width: 1200px) {
	hr {
		margin: 6.5rem auto;
	}

	h2,
	h3 {
		font-size: 4rem;
	}
}

/* ==========================================================================
   NAVIGATION MENU
   ========================================================================== */


.nav {
	background-color: #0288D1;
	color: #FFF;
	left: 0;
	line-height: 60px;
	position: fixed;
	text-transform: uppercase;
	top: 0;
	width: 100%;
	z-index: 10;
}

.nav a:before {
	background-color: #FFF;
	bottom: -2px;
	content: '';
	height: 1px;
	left: 0;
	position: absolute;
	transform: scaleX(0);
	-webkit-transform: scaleX(0);
	transition: all .2s ease-in-out 0s;
	-webkit-transition: all .2s ease-in-out 0s;
	visibility: hidden;
	width: 100%;
}

.nav a:hover:before {
	transform: scaleX(1);
	-webkit-transform: scaleX(1);
	visibility: visible;
}

.nav a {
	color: #FFF;
	font-size: 1.3rem;
	font-weight: bold;
	letter-spacing: .08em;
	position: relative;
}

.nav-wrapper {
	margin: auto;
	max-width: 90%;
}

#nav-name {
	font-size: 1.6rem;
	letter-spacing: .2em;
}

.nav-items {
	display: none;
	float: right;
}

.nav-items a {
	margin-left: 2.6em;
}

.nav-items li {
	float: left;
	list-style-type: none;
}

.nav-navicon {
	cursor: pointer;
	float: right;
	font-size: 2rem;
	padding: 0 2rem;
}

.nav-mobile-items {
	border: none;
	margin: auto;
	max-height: 0;
	overflow: hidden;
	text-align: center;
	transition: max-height .15s ease-out;
	-webkit-transition: max-height .15s ease-out;
}
.nav-mobile-items.open {
	max-height: 160px;
	transition: max-height .25s ease-out;
	-webkit-transition: max-height .25s ease-out;
}

.nav-mobile-items a {
	margin: 0 2em;
}

.nav-mobile-items li {
	line-height: 50px;
	border-top: 1px solid #0299EACA;
}


/* Navigation animations
   ========================================================================== */

@keyframes open {
	from {
		max-height: 0;
	}
	to {
		max-height: 70px;
	}
}

@-webkit-keyframes open {
	from {
		max-height: 0;
	}
	to {
		max-height: 70px;
	}
}

@keyframes close {
	from {
		max-height: 0;
	}
	to {
		max-height: 70px;
	}
}

@-webkit-keyframes close {
	from {
		max-height: 0;
	}
	to {
		max-height: 70px;
	}
}


/* ==========================================================================
   HEADER
   ========================================================================== */


.header {
	background-color: #0288D1;
	color: #FFF;
	font-weight: bold;
	height: 70vh;
	position: fixed;
	width: 100%;
	z-index: -1;
}

.header-bg {
	color: rgba(0,0,0,.05);
	font-size: 40rem;
	left: 50%;
	margin: 0;
	min-height: 460px;
	position: absolute;
	text-transform: uppercase;
	top: 50%;
	transform: perspective(1px) translateX(-50%) translateY(-50%);
	letter-spacing: .5rem;
}

.header-text {
	position: relative;
	margin: auto;
	max-width: 80%;
	top: 50%;
	transform: perspective(1px) translateY(-50%);
}

.header span {
	display: block;
}

.header-name {
	font-size: 2.7rem;
	letter-spacing: .2em;
	text-transform: uppercase;
}

.header-profession {
	font-size: 2.2rem;
	margin-bottom: 60px;
}


/* Header queries
   ========================================================================== */

@media only screen and (min-width: 500px) {
	.header-text {
		font-size: 2rem;
	}

	.header-name {
		font-size: 3.8rem;
	}

	.header-profession {
		font-size: 2.4rem;
		margin-bottom: 60px;
	}
}

@media only screen and (min-width: 820px) {
	.header-background {
		font-size: 50rem;
		letter-spacing: .4rem;
		min-height: 540px;
	}

	.header-name {
		font-size: 4.8rem;
	}

	.header-title {
		font-size: 3.4rem;
		margin-bottom: 60px;
	}
}

@media only screen and (min-width: 1200px) {
	.header-bg {
		font-size: 60rem;
		letter-spacing: .5rem;
		min-height: 620px;
	}
	
	.header-text {
		font-size: 2.5rem;
	}

	.header-name {
		font-size: 6.4rem;
	}

	.header-profession {
		font-size: 5rem;
		margin-bottom: 60px;
	}
}


/* ==========================================================================
   MAIN CONTENT
   ========================================================================== */


#start-of-page {
	height: 70vh;
}

.main-content {
	background-color: #FDFDFD;
	box-shadow: 0 0 50px rgba(0,0,0,.2), 0 4px 40px rgba(0,0,0,.1);
	margin-bottom: 46rem;
	overflow: hidden;
	padding-bottom: 6rem;
	position: relative;
	z-index: 1;
}

@media only screen and (min-width: 560px) {
	.main-content {
		margin-bottom: 50rem;
	}
}

@media only screen and (min-width: 1200px) {
	.main-content {
		margin-bottom: 54rem;
	}
}

/* ==========================================================================
   LANGUAGES SECTION
   ========================================================================== */


.language-wrapper {
	margin: auto;
	max-width: 460px;
	width: 95%;
}

.language-box {
	background-color: #FFF;
	border: 1px solid #EEE;
	box-shadow: 0 5px 10px rgba(0,0,0,.03);
	margin: 2% 1%;
	min-width: 160px;
	padding-bottom: 3rem;
	text-align: center;
	transition: box-shadow .3s ease-in-out, transform .3s ease-in-out;
	-webkit-transition: box-shadow .3s ease-in-out, transform .3s ease-in-out;
	width: 98%;
}

.language-box:hover {
	transform: translateY(-6px);
	-moz-transform: translateY(-6px);
	-webkit-transform: translateY(-6px);
	box-shadow: 0 10px 20px rgba(0,0,0,.03);
}

.language-progress-bg {
	border: 1px solid #DDD;
	border-radius: 4px;
	margin: .8em auto;
	width: 80%;
}

.language-progress-bar {
	background-color: #0288D1;
	border-radius: 4px;
	height: 10px;
	margin-right: auto;
	padding: .01em;
	transition: background-color .3s;
	width: 0;
}

.language p {
	color: #666;
	font-size: 1.6rem;
	margin: 10px;
}

.filled {
	animation: progression 1.5s forwards;
	-webkit-animation: progression 1.5s forwards;
}

.lighter {
	background-color: #09a7fd;
}


/* Language animations
   ========================================================================== */

@keyframes progression {
	from {
		opacity: 0;
		width: 0;
	}
}

@-webkit-keyframes progression {
	from {
		opacity: 0;
		width: 0;
	}
}


/* Languages queries
   ========================================================================== */

@media only screen and (min-width: 560px) {
	.language-wrapper {
		max-width: 800px;
	}

	.language-box {
		float: left;
		margin: 1%;
		width: 47.7%;
	}
}

@media only screen and (min-width: 1200px) {
	.language-wrapper {
		max-width: 1500px;
		width: 80%;
	}

	.language-box {
		padding: 1.6rem 0 4rem 0;
		width: 31.1%;
	}
}


/* ==========================================================================
   PROJECTS SECTION
   ========================================================================== */


.project-wrapper {
	margin: auto;
	width: 85%;
}


/* Project information
   ========================================================================== */

.project-info {
	width: 100%;
}

.project-summary {
	font-size: 2rem;
	margin-bottom: 2em;
}

.project-key-points {
	padding-left: 4rem;
}

.project-key-points li {
	margin: .5rem 0;
}

.project-tags {
	margin: 3em 0 0 0;
}

.tag {
	background-color: #0288D1;
	border-bottom-right-radius: .4em;
	border-top-right-radius: .4em;
	color: #FFF;
	display: inline-block;
	font-family: 'PT Sans', sans-serif;
	font-size: 1.3rem;
	margin: 0 0 1em 1.2em;
	padding: .45em 1em .45em 1em;
	position: relative;
	transition: background-color .3s;
}

.tag:before {
	border-color: transparent #0288D1 transparent transparent;
	border-style: solid;
	border-width: 1.42rem 1.42rem 1.42rem 0;	
	content: "";
	float: left;
	height: 0;
	left: -1.42rem;
	position: absolute;
	top: 0;
	transition: border-color .3s;
	width: 0;
}

.tag:after{
	content: "";
	position: absolute;
	top: 1.2rem;
	left: 0;
	float: left;
	width: .6rem;
	height: .6rem;
	-moz-border-radius: .2rem;
	-webkit-border-radius: .2rem;
	border-radius: .2rem;
	background: #FDFDFD;
}

.tag:hover {
	background-color: #09a7fd;
}

.tag:hover:before {
	border-color: transparent #09a7fd transparent transparent;
}


/* Project media
   ========================================================================== */

.project-media {
	margin: 4rem auto 6rem auto;
	opacity: 0;
	position: relative;
	transition: height .3s ease-out;
	width: 90%;
}

.slided {
	animation: slideIn .6s forwards;
	-webkit-animation: slideIn .6s forwards;
}

.project-media img:not(.play-btn) {
	cursor: pointer;
	transition: opacity .3s ease-in-out;
	-webkit-transition: opacity .3s ease-in-out;
}

.project-media img:not(.play-btn):hover {
	opacity: .7;
}

.project-imgs {
	margin: 0 auto;
	width: 90%;
}

.project-imgs img {
	background-color: #FFF;
	box-shadow: 0 10px 20px rgba(0,0,0,.1);
	display: block;
	float: left;
	margin: 1% 1%;
	max-width: 23%;
	max-height: 260px;
}

.project-thumbnail {
	margin: auto;
	max-width: 420px;
	position: relative;
	width: 100%;
}

.project-thumbnail img:not(.play-btn) {
	box-shadow: 0 20px 100px rgba(0,0,0,.1);
	height: 100%;
	max-height: 300px;
	object-fit: cover;
	padding: 2%;
	width: 100%;
}

.play-btn {
	left: 50%;
	pointer-events: none;
	position: absolute;
	top: 50%;
	transform: perspective(1px) translateY(-50%) translateX(-50%);
	width: 15%;
	z-index: 2;
}


/* Project animations
   ========================================================================== */

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateX(-20px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes zoom {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}


/* Project queries
   ========================================================================== */

@media only screen and (min-width: 1200px) {
	.project-wrapper {
		max-width: 1500px;
		width: 80%;
	}

	.project-info {
		float: left;
		width: 46%;
	}
	
	.project-media {
		float: right;
		margin: 0;
		width: 48%;
	}

	.project-imgs,
	.project-thumbnail {
		left: 100%;
		position: absolute;
		top: 50%;
		transform: perspective(1px) translateX(-100%) translateY(-50%);
	}

	.project-thumbnail {
		width: 80%;
	}
}


/* ==========================================================================
   FOOTER
   ========================================================================== */


.footer {
	bottom: 0;
	display: none;
	position: fixed;
	left: 0;
	width: 100%;
	z-index: -1;
}

.footer-wrapper {
	font-size: 2rem;
	margin: auto;
	padding-bottom: 4em;
	position: relative;
	text-align: center;
	width: 95%;
}

a.email {
	display: inline-block;
	font-size: 1.6rem;
	letter-spacing: 1px;
	margin-bottom: 30px;
}

a.email span {
	font-size: 2.2rem;
}

.footer-sub {
	background-color: #F5F5F5;
	border-top: 1px solid #D6D6D6;
	line-height: 6rem;
	text-align: center;
	vertical-align: middle;
}

.footer i {
	margin: 0 1rem;
}


/* ==========================================================================
   MODAL
   ========================================================================== */


.modal {
	background-color: rgba(0,0,0,.9);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 20;
}

.modal-content-holder {
	animation: zoom .5s;
	height: 100%;
	position: fixed;
	width: 100%;
}

.modal-img,
.modal-vid {
	display: none;
	margin: auto;
	max-height: 80%;
	max-width: 70%;
	position: relative;
	top: 50%;
	transform: perspective(1px) translateY(-50%);
}


/* Close button
   ========================================================================== */

.modal-close {
	color: #F1F1F1;
	font-size: 4rem;
	font-weight: bold;
	padding: 16px;
	position: absolute;
	right: 2%;
	top: .5%;
	transition: .3s;
}

.modal-close:hover,
.modal-close:focus {
	color: #BBB;
	cursor: pointer;
	text-decoration: none;
}


/* Next and previous buttons
   ========================================================================== */

.modal-prev,
.modal-next {
	border-radius: 0 3px 3px 0;
	color: white;
	cursor: pointer;
	display: none;
	font-size: 3rem;
	font-weight: bold;
	margin: -50px 2% 0 2%;
	padding: 16px;
	position: absolute;
	top: 50%;
	transition: .6s ease;
	user-select: none;
	-webkit-user-select: none;
	width: auto;
}

.modal-next {
	border-radius: 3px 0 0 3px;
	right: 0;
}


/* Modal queries
   ========================================================================== */

@media only screen and (min-width: 820px) {
	.modal-prev,
	.modal-next {
		font-size: 4.5rem;
		margin: -50px 5% 0 5%;
	}

	.modal-close {
		font-size: 6rem;
		right: 5%;
		top: 5%;
	}

	.modal-img,
	.modal-vid {
		max-width: 80%;
	}

	.nav-navicon {
		display: none;
	}

	.nav-items {
		display: inline-block;
	}
}
