body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #F0F0F0;
}

span {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

p {
	font-size: 20px;
	font-weight: lighter;
}

a {
	font-family: 'Montserrat', sans-serif;
	color: #333;
	text-decoration: none;
}

.left {
	float: left;
	display: inline-block;
}
.right {
	float: right;
	display: inline-block;
}

h1 {
	text-align: center;
	line-height: 150px;
	font-size: 28px;
	margin: 0;
	font-weight: normal;
}

h1:before {
	display: inline-block;
    margin: 0 20px 8px 0;
    height: 3px;
    content: " ";
    background-color: #999;
    width: 50px;
}

h1:after {
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 3px;
    content: " ";
    background-color: #999;
    width: 50px;
}

h2 {
	font-size: 34px;
	line-height: 100px;
	margin: 0;
	text-align: left;
}

h3 {
	margin-bottom: 0px;
}

h4 {
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 26px;
	letter-spacing: 0.05em;
}

li {
	font-weight: lighter;
	margin: 5px 0;
}

hr {
    width: 80%;
    margin: 75px auto 40px auto;
	border: 0;
	height: 1px;
	background-color: #CCC;
}

/* NAVIGATION MENU */
nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	line-height: 80px;
	text-transform: uppercase;
	background-color: #fff;
	z-index: 10;
	box-shadow: 0 0 15px rgba(0,0,0,0.2), 0 1px 10px rgba(0,0,0,0.1);
}
nav a {
	position: relative;
	font-size: 15px;
	letter-spacing: 0.2em;
}
#browser-nav a, #mobile-nav a{
	font-size: 13px;
	letter-spacing: 0.08em;
}
#browser-nav a {
	margin-left: 40px;
}
#mobile-nav a {
	margin: 0 20px;
}
nav a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: -2px;
	left: 0;
	background-color: #333;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}
nav a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
#nav-wrapper {
	max-width: 80%;
	margin: auto;
}
#navicon {
	float: right;
	font-size: 30px;
    cursor: pointer;
    padding: 0 20px;
}
#browser-nav {
	display: none;
}
#mobile-nav {
	overflow: hidden;
	max-height: 0;
	text-align: center;
	margin: auto;
	border: none;
	-webkit-transition: max-height .15s ease-out;
	transition: max-height .15s ease-out;
}
#mobile-nav.open {
	max-height: 80px;
	border-top: 1px solid #D6D6D6;
	-webkit-transition: max-height .25s ease-out;
	transition: max-height .25s ease-out;
}

@keyframes open {
    from {max-height: 0;}
    to {max-height: 80px;}
}
@-webkit-keyframes open {
    from {max-height: 0;}
    to {max-height: 80px;}
}
@keyframes close {
    from {max-height: 0;}
    to {max-height: 80px;}
}
@-webkit-keyframes close {
    from {max-height: 0;}
    to {max-height: 80px;}
}

/* HEADER */
header {
	width: 100%;
	height: 500px;
	position: fixed;
	top: 80px;
	z-index: -1;
}

#header-bg {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -8;
	background-image: linear-gradient(rgba(30,139,195,0.749), rgba(30,139,195,0.749)),
					  url('res/bg.jpg');
	background-color: #E8E8E8;
}

header p {
    font-family: 'PT Mono';
    font-size: 25px;
    color: white;
    text-align: center;
    margin: 0;
}

.typed {
	width: 100%;
	margin-bottom: 60px;
	font-size: 35px;
	display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: type 3s steps(50, end) forwards;
    animation: type 3s steps(50, end) forwards;
}
#name {
	margin-top: 130px;
	margin-bottom: 0;
	font-size: 45px;
}

.fade-in {
	opacity: 0;
	-webkit-animation: fade-in 2s forwards;
    animation: fade-in 2s forwards;
}

@keyframes fade-in {
	from {opacity: 0;}
	to {opacity: 1;}
}

@-webkit-keyframes fade-in {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes type {
    from {width: 0; opacity: 1;}
    to {opacity: 1;}
}

@-webkit-keyframes type {
    from {width: 0; opacity: 1;}
    to {opacity: 1;}
}

/* MAIN CONTENT */
#start-of-page {
	margin-top: 80px;
	height: 500px;

}
#main {
	box-shadow: 0 0 50px rgba(0,0,0,0.2), 0 4px 40px rgba(0,0,0,0.1);
	margin-bottom: 560px;
    padding-bottom: 60px;
	background-color: #FDFDFD;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.language-wrapper, .project-wrapper {
	margin: auto;
}
.language-wrapper {
	width: 95%;
}
.project-wrapper {
	width: 85%;
}

/* LANGUAGES */
.language {
	width: 98%;
	min-width: 160px;
	background-color: #fff;
	text-align: center;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border: 1px solid #eee;
	box-shadow: 0 9px 20px rgba(0,0,0,.03);
	transition: transform .5s ease-in-out;
	-webkit-transition: transform .5s ease-in-out;
	margin: 2% 1%;
	padding: 16px 0 40px 0;
}
.language:hover {
	-webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    transform: translateY(-6px);
}

.progress-bar-bg {
	width: 80%;
	margin: auto;
	border-radius: 4px;
	border: 1px solid #CCC;
	background-color: #FFF;
}

.progress-bar {
    width: 0%;
	margin-right: auto;
	background-color: rgba(30,139,195,0.749);
	border-radius: 4px;
	padding: 0.01em;
	height: 10px;
}

.filled {
	-webkit-animation: progression 1.5s forwards;
    animation: progression 1.5s forwards;
}

.language p {
	margin: 10px;
	font-size: 16px;
	color: #666;
}

@keyframes progression {
    from {width: 0;}
}
@-webkit-keyframes progression {
    from {width: 0;}
}

/* PROJECTS */
.project-info {
	width: 100%;
}
.project-info h3 {
	padding-top: 20px;
}
.project-imgs {
	opacity: 0;
	width: 90%;
	margin: 16px auto 0 auto;
	transition: height .3s ease-out;
}

.slided {
	-webkit-animation: slideIn .6s forwards;
	animation: slideIn .6s forwards;
}

@keyframes slideIn {
    from {
    	opacity: 0;
    	transform: translateX(-20px);

    }
    to {
    	opacity: 1;
    	transform: translateX(0);
    }
}

.img-holder img {
	float: left;
	max-width: 23%;
	max-height: 48%;
	display: block;
	margin: 1% 1%;
}

div.project-imgs img {
	opacity: 1;
	-webkit-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
	cursor: pointer;
}
div.project-imgs img:hover {
	opacity: .7;
}

.project-info p {
	text-align: justify;
	margin-top: 0;
}

.tag-container {
	padding: 20px 0;
}
.tag {
	background-color: #555;
	padding: 3px;
	border-radius: 5%;
	color: #FFF;
}

.thumbnail-holder {
	position: relative;
	width: 100%;
    max-width: 500px;
	margin: auto;
	background-color: #FFF;
}
.thumbnail-holder>img:not(.play-btn) {
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-height: 300px;
	padding: 2%;
	box-shadow: 0 20px 100px rgba(0,0,0,.1);
}
.play-btn {
	position: absolute;
	z-index: 2;
	width: 15%;
	top: 50%;
	left: 50%;
  	transform: perspective(1px) translateY(-50%) translateX(-50%);
  	pointer-events: none;
}

/* MODAL */
#modal {
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
#modal-content-holder {
	position: fixed;
	width: 100%;
	height: 100%;
  	animation-name: zoom;
    animation-duration: 0.5s;
}
#modal-img, #modal-vid {
    margin: auto;
    display: none;
    max-width: 70%;
    max-height: 80%;
    position: relative;
  	top: 50%;
  	transform: perspective(1px) translateY(-50%);
}
@keyframes zoom {
    from {
    	transform: scale(0);
    } 
    to {
    	transform: scale(1);
    }
}

/* Modal Close Button */
#modal-close {
    position: absolute;
    top: 0.5%;
    right: 2%;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    padding: 16px;
}
#modal-close:hover,
#modal-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* Next & previous buttons */
#modal-prev,
#modal-next {
	display: none;
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin: -50px 2% 0 2%;
	color: white;
	font-weight: bold;
	font-size: 30px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}
/* Position the "next button" to the right */
#modal-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* CONTACT ME */
footer {
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: -1;
}

footer a {
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
footer a:hover {
	color: #EB9532;
}

#upper-footer {
	height: 500px;
	margin: 0 auto;
	text-align: center;
}
a.email {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	margin-bottom: 30px;
}
a.email span {
	font-size: 22px;
}
div#upper-footer i.fa {
	font-size: 20px;
	padding: 30px;
}
div#upper-footer p {
	font-size: 16px;
	margin: 0;
}

#subfooter {
	background-color: #F5F5F5;
	font-size: 12px;
	text-align: center;
	border-top: 1px solid #D6D6D6;
	vertical-align: middle;
	height: 60px
}

#subfooter p {
	font-size: 16px;
	margin-top: 20.5px;
}

@media only screen and (min-width: 500px) {
	.language {
		width: 47.7%;
		margin: 1%;
		float: left;
	}

	h1 {
		font-size: 34px;
		line-height: 175px;
	}
	h1:before {
	    width: 80px;
	}

	h1:after {
	    width: 80px;
	}
}

@media only screen and (min-width: 820px) {
	.language {
		width: 31.1%;
	}

	#modal-prev,
	#modal-next {
		margin: -50px 1.25% 0 5%;
		font-size: 45px;
	}
	#modal-close {
		font-size: 60px;
		top: 5%;
    	right: 5%;
	}
	#modal-img, #modal-vid {
		max-width: 80%;
	}

	#navicon {
		display: none;
	}
	#browser-nav {
		display: inline-block;
	}

	.language-wrapper {
		width: 80%;
		max-width: 1500px;
	}

	h1 {
		font-size: 40px;
		line-height: 200px;
	}
	h1:before {
	    width: 150px;
	}

	h1:after {
	    width: 150px;
	}
}

@media only screen and (min-width: 1020px) {
	.project-wrapper {
		width: 80%;
		max-width: 1500px;
	}
	.project-info {
		width: 50%;
		float: left;
	}
	.project-imgs {
		width: 40%;
		height: 400px;
        max-width: 420px;
		float: right;
	}
	.thumbnail-holder {
		width: 80%;
		top: 50%;
		transform: perspective(1px) translateY(-50%);
	}

	.img-holder {
		position: relative;
		top: 50%;
		transform: perspective(1px) translateY(-50%);
        margin: 0 auto;
	}
    hr {
        margin: 65px auto 40px auto;
    }
}
