$color-light: #FAFBFA;
$color-accent-light: #91BAD2;
$color-brand: #1A8276;
// $color-brand: #4ACCB5;
$color-accent-dark: #98817B;
$color-dark: #292C35;

$navbar-height: 48px;
$header-height: 700px;

@mixin clearfix {
	&::after {
		clear: both;
		content: '';
		display: table;
	}
}

@mixin absCenter {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: perspective(1px) translateX(-50%) translateY(-50%);
}

@mixin width-above($width) {
	@media only screen and (min-width: $width) {
		@content;
	}
}

@mixin width-below($width) {
	@media only screen and (max-width: $width) {
		@content;
	}
}

@mixin width-between($min-width, $max-width) {
	@media only screen and (min-width: $min-width) and (max-width: $max-width) {
		@content;
	}
}

@mixin height-above($height) {
	@media only screen and (min-height: $height) {
		@content;
	}
}

@mixin height-below($height) {
	@media only screen and (max-height: $height) {
		@content;
	}
}

@mixin height-between($min-height, $max-height) {
	@media only screen and (min-height: $min-height) and (max-height: $max-height) {
		@content;
	}
}

@keyframes bounce {

	0%,
	20%,
	50%,
	80%,
	100% {
		transform: perspective(1px) translateX(-50%) translateY(0);
	}

	40% {
		transform: perspective(1px) translateX(-50%) translateY(-30px);
	}

	60% {
		transform: perspective(1px) translateX(-50%) translateY(-15px);
	}
}

@keyframes progression {
	from {
		opacity: 0;
		width: 0;
	}
}

@keyframes appear {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes videoAppear {
	from {
		opacity: 0;
	}

	to {
		opacity: 0.4;
	}
}

@keyframes slideInUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideInLeft {
	from {
		opacity: 0;
		transform: translateX(20px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideInRight {
	from {
		opacity: 0;
		transform: translateX(-20px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes zoom {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}

@keyframes sk-cubeGridScaleDelay {

	0%,
	70%,
	100% {
		-webkit-transform: scale3D(1, 1, 1);
		transform: scale3D(1, 1, 1);
	}

	35% {
		-webkit-transform: scale3D(0, 0, 1);
		transform: scale3D(0, 0, 1);
	}
}